body {
	font-size: 1rem;
	font-family: "segoe ui",meiryo,"yu gothic","hiragino kaku gothic pron",sans-serif;
	width: 490px;
	background-color: black;
	color: #3cb371;
	margin: 10px auto 0px auto;
}

.header {
	text-align: center;
	background-color: #3cb371;
	color: black;
}

.header a {
	text-decoration: none;
	color: black;
}

.header_title {
	padding: 5px;
	font-size: 3rem;
}

.header_ver {
	text-align: right;
	padding-right: 5px;
}

.top_nav {
	text-align: left;
	font-size: 0;
}

.top_nav li {
	display: inline-block;
	font-size: 1.4rem;
	padding: 2px 15px;
	border: 1px solid black;
}

.content {
	padding: 10px;
	border:1px solid #3cb371;
}

.content h1 {
	font-size: 2rem;
}

.content h2 {
	font-size: 1.4rem;
	border-top: 1px solid #3cb371;
	border-left: 10px solid #3cb371;
	padding: 0px 5px;
	margin: 0px -10px;
}

.content_title {
	font-size: 2rem;
}

.content_info {
	margin: 5px 5px 5px 20px;
}

.content p {
	font-size: 1rem;
	word-break: break-all;
	padding: 5px 0px;
}

.small-font {
	font-size: 0.8rem;
}

.input_name {
	width: 100%;
}

.input_text {
	width: 100%;
}

.button_create {
	width: 100%;
}

.button_check {
	padding: 0px 5px;
	height: 20px;
	background-color: #777;
	font-size: 0.7rem;
}

.button_update {
	width: 100%;
}

.button_delete {
	width: 100px;
	background-color: red;;
	display: block;
	margin-left: auto;
}

.post {
	border: 1px solid #3cb371;
	margin: 0px 0px 10px 0px;
	padding: 0px 5px 0px 5px;
}

.post_button {
	text-align: right;
}

.footer {
	text-align: center;
	background-color: #3cb371;
	color: black;
}

/*===================*/
/* @media screen */
/*===================*/

@media screen and (max-width: 490px) {
body {
	width:98%;
}

.header_title {
	font-size: 2rem;
}
}
